# Lab Case Study - Auto Insurance Company

In [473]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Activity 1

### Import and concatinate files

In [474]:
file1 = pd.read_csv('Data/file1.csv')
file2 = pd.read_csv('Data/file2.csv')
file3a = pd.read_csv('Data/file3.csv')

In [475]:
file3=file3a.rename(columns={'State':'ST', 'Gender':'GENDER'})

file3  #renaming column  headers in file3

#data['Gender'] = list(map(lambda x, y: x if x == x else y, data['Gender'],data['GENDER']))

,Customer,ST,Customer Lifetime Value,Education,GENDER,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

In [479]:
ai_df = pd.concat([file1,file2,file3], axis=0)
ai_df_=ai_df.reset_index(drop=True)
ai_df_

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
12069,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

### Standardizing header names

In [480]:
def lower_case_column_names(ai_df_):
    ai_df_.columns=[i.lower() for i in ai_df_.columns]
    return ai_df_

In [481]:
lower_case_column_names(ai_df_)

,customer,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
12069,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

### Deleting rows (customer)

In [482]:
def drop_columns(ai_df_) :
    ai_df_.drop(columns=['customer'], inplace=True)
    return ai_df_

In [483]:
drop_columns(ai_df_)

,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
12069,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

### Check the data types
    fix customer lifetime value and number of complaints

In [484]:
ai_df_.dtypes

st                            object
gender                        object
education                     object
customer lifetime value       object
income                       float64
monthly premium auto         float64
number of open complaints     object
policy type                   object
vehicle class                 object
total claim amount           float64
dtype: object

In [485]:
ai_df_['customer lifetime value'] =  pd.to_numeric(ai_df_['customer lifetime value'], errors='coerce')
ai_df_['number of open complaints'] =  pd.to_numeric(ai_df_['number of open complaints'], errors='coerce')

In [486]:
ai_df_.dtypes

st                            object
gender                        object
education                     object
customer lifetime value      float64
income                       float64
monthly premium auto         float64
number of open complaints    float64
policy type                   object
vehicle class                 object
total claim amount           float64
dtype: object

### Filtering data and Correcting typos 
        filter the data in state and gender column to standardize the texts in those columns)

In [487]:
print(ai_df_['gender'].unique())
ai_df_.gender.value_counts()

[nan 'F' 'M' 'Femal' 'Male' 'female']

F         4560
M         4368
Male        40
female      30
Femal       17
Name: gender, dtype: int64

In [488]:
#ai_df_['gender'].replace(['M', 'MALE'], 'Male') #inplace=True
#ai_df_

In [489]:
def clean_gender(x):
    if x !=x:
        return x
    elif x in ['M', 'MALE',  ]:
        return 'Male'
    elif x.lower().startswith('f'):
        return 'Female'
    else:
        return 'Unkown'

In [490]:
ai_df_['gender'] = list(map(clean_gender, ai_df_['gender']))

In [491]:
print(ai_df_['gender'].unique())
ai_df_.gender.value_counts()

[nan 'Female' 'Male' 'Unkown']

Female    4607
Male      4368
Unkown      40
Name: gender, dtype: int64

In [492]:
ai_df_

,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,NaN,Master,NaN,0.0,1000.0,NaN,Personal Auto,Four-Door Car,2.704934
1,Arizona,Female,Bachelor,NaN,0.0,94.0,NaN,Personal Auto,Four-Door Car,1131.464935
2,Nevada,Female,Bachelor,NaN,48767.0,108.0,NaN,Personal Auto,Two-Door Car,566.472247
3,California,Male,Bachelor,NaN,0.0,106.0,NaN,Corporate Auto,SUV,529.881344
4,Washington,Male,High School or Below,NaN,36357.0,68.0,NaN,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
12069,California,Male,Bachelor,23405.987980,71941.0,73.0,0.0,Personal Auto,Four-Door Car,198.234764
12070,California,Female,College,3096.511217,21604.0,79.0,0.0,Corporate Auto,Four-Door Car,379.200000
12071,California,Male,Bachelor,8163.890428,0.0,85.0,3.0,Corporate Auto,Four-Door Car,790.784983
12072,California,Male,College,7524.442436,21941.0,96.0,0.0,Personal Auto,Four-Door Car,691.200000
12073,California,Male,College,2611.836866,0.0,77.0,0.0,Corporate Auto,Two-Door Car,369.600000

In [493]:
print(ai_df_['st'].unique())
ai_df_.st.value_counts()

['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]

California    3032
Oregon        2601
Arizona       1630
Nevada         882
Washington     768
Cali           120
AZ              74
WA              30
Name: st, dtype: int64

In [495]:
def clean_st(x):
    if x !=x:
        return x
    elif x in ['Cali', 'California']:
        return 'California'
    elif x in ['Arizona', 'AZ']:
        return 'Arizona'
    elif x in ['Washington', 'WA']:
        return 'Washington'
    
    else:
        return x

In [496]:
ai_df_['st'] = list(map(clean_st, ai_df_['st']))

In [497]:
print(ai_df_['st'].unique())
ai_df_.st.value_counts()

['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' nan]

California    3152
Oregon        2601
Arizona       1704
Nevada         882
Washington     798
Name: st, dtype: int64

### Removing duplicates

In [498]:
ai_df_.drop_duplicates()

,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,NaN,Master,NaN,0.0,1000.0,NaN,Personal Auto,Four-Door Car,2.704934
1,Arizona,Female,Bachelor,NaN,0.0,94.0,NaN,Personal Auto,Four-Door Car,1131.464935
2,Nevada,Female,Bachelor,NaN,48767.0,108.0,NaN,Personal Auto,Two-Door Car,566.472247
3,California,Male,Bachelor,NaN,0.0,106.0,NaN,Corporate Auto,SUV,529.881344
4,Washington,Male,High School or Below,NaN,36357.0,68.0,NaN,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
12069,California,Male,Bachelor,23405.987980,71941.0,73.0,0.0,Personal Auto,Four-Door Car,198.234764
12070,California,Female,College,3096.511217,21604.0,79.0,0.0,Corporate Auto,Four-Door Car,379.200000
12071,California,Male,Bachelor,8163.890428,0.0,85.0,3.0,Corporate Auto,Four-Door Car,790.784983
12072,California,Male,College,7524.442436,21941.0,96.0,0.0,Personal Auto,Four-Door Car,691.200000
12073,California,Male,College,2611.836866,0.0,77.0,0.0,Corporate Auto,Two-Door Car,369.600000

### Replacing null values 
    Replace missing values with means of the column (for numerical columns)

In [500]:
print(ai_df_['customer lifetime value'].unique())

mean_customer_lifetime_value = np.mean(ai_df_['customer lifetime value'])
ai_df_['customer lifetime value'] = ai_df_['customer lifetime value'].fillna(mean_customer_lifetime_value)

[8028.80380317 3479.137523   2502.637401   ... 8163.890428   7524.442436
 2611.836866  ]

In [502]:
print(ai_df_['income'].unique())

mean_income = np.mean(ai_df_['income'])
ai_df_['income'] = ai_df_['income'].fillna(mean_income)

[    0. 48767. 36357. ... 66367. 71941. 21941.]

In [504]:
print(ai_df_['monthly premium auto'].unique())

mean_monthly_premium_auto = np.mean(ai_df_['monthly premium auto'])
ai_df_['monthly premium auto'] = ai_df_['income'].fillna(mean_monthly_premium_auto)

[    0. 48767. 36357. ... 66367. 71941. 21941.]

In [506]:
print(ai_df_['number of open complaints'].unique())

mean_number_of_open_complaints = round(np.mean(ai_df_['number of open complaints']), 3)
print(mean_number_of_open_complaints)

ai_df_['number of open complaints'] = ai_df_['number of open complaints'].fillna(mean_number_of_open_complaints)

[0.384 0.    2.    3.    1.    5.    4.   ]
0.384

In [508]:
print(ai_df_['total claim amount'].unique())

mean_total_claim_amount = np.mean(ai_df_['total claim amount'])
ai_df_['total claim amount'] = ai_df_['total claim amount'].fillna(mean_monthly_premium_auto)

[   2.704934 1131.464935  566.472247 ...  541.282007  198.234764
  790.784983]

In [509]:
ai_df_.isna().sum()

st                           2937
gender                       3059
education                    2937
customer lifetime value         0
income                          0
monthly premium auto            0
number of open complaints       0
policy type                  2937
vehicle class                2937
total claim amount              0
dtype: int64